Chapter13/ValidateXML/Monsters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:monster-schema">
    <xs:element name="MonsterList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Monster">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string" />
                            <xs:element name="HitDice">
                                <xs:complexType>
                                    <xs:attribute name="Dice" type="xs:string" use="required" />
                                    <xs:attribute name="Default" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="Weapon">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="Number" type="xs:unsignedByte" use="required" />
                                            <xs:attribute name="Damage" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>